{% extends "layout.html" %}

{% block title %}Welcome, user!{% endblock %}
{% block logged_in %}
	<div class="btn-group">
	  <button class="btn dropdown-toggle" data-toggle="dropdown">
	    {{user.username}}
	    <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu">
	    <li><a href="/address_create">Edit Address</a></li>
	  </ul>
	</div>
	<a href="/logout" class="pull-right">Sign Out</a>
{% endblock %}

{% block body %}
<h3>Edit your address</h3>
	<form action="" method="post" class="form-horizontal">
						<div class="control-group">
							<div class="controls">
							   <input class="span5" id="street" name="street" placeholder="street" type="text" value="{{street}}">
							</div>
						</div>
						<div class="control-group">
							<div class="controls">
							<input class="span5" id="zipcode" name="zipcode" placeholder="street" type="text" value="{{zipcode}}">
							</div>
						</div>
						<div class="control-group">
							<div class="controls">
								<input class="span5" id="state" name="state" placeholder="street" type="text" value="{{state}}">
							</div>
						</div>
						<div class="control-group">
							<div class="controls">
							<input class="span5" id="country" name="country" placeholder="street" type="text" value="{{country}}">
							</div>
						</div>
						<div class="control-group">
							<div class="controls">
						<input type="submit" class="btn-large btn-success span2" value="Save">
							</div>
						</div>
					</form>
					<a href="/dashboard" class="btn">Cancel</a>
{% endblock %}


