{% extends "layout.html" %}

{% block title %}Welcome, user!{% endblock %}
{% block logged_in %}
	<div class="btn-group">
	  <button class="btn dropdown-toggle" data-toggle="dropdown">
	    {{user.username}}
	    <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu">
	    <li><a href="/address_create">Edit Address</a></li>
	  </ul>
	</div>
	<a href="/logout" class="pull-right">Sign Out</a>
{% endblock %}

{% block body %}
<h3>{{msg}}</h3>
	{% block book_list %}
	{% endblock %}
{% endblock %}

