<!DOCTYPE html>
<html>
<head>
	<title>Bookend | {%block title %} {% endblock %}</title>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/bookend.css" type="text/css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/bookend.responsive.css" type="text/css">
</head>

<body>
<!-- 	<div class="navbar navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="#">Bookend</a>
				<ul class="nav">
					<li><a href="#">Test</a></li>
				</ul>
			</div>
		</div> -->
<div class="top">
	<div class="container">
		<div class="row">
			<h3 class="span3"><a href="/" class="top_brand">Bookend</a></h3>
			{% load crispy_forms_tags %}
			{% crispy login_form%}
		</div>
	</div>
</div>

<div class="container">
	<ul class="nav nav-pills mid-nav">
		<li>
			<a href="#">Test</a>
		</li>
		<li>
			<a href="#">About</a>
		</li>
	</ul>
</div>
{% block masthead %}
{% endblock %}
 <script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.8.2.min.js"></script>
 <script type="text/javascript" src="{{STATIC_URL}}js/jquery-ui-1.10.0.custom.min.js"></script>
 <script type="text/javascript" src="{{STATIC_URL}}js/jquery.dropkick-1.0.0.js"></script>
 <script type="text/javascript" src="{{STATIC_URL}}js/jquery.tagsinput.js"></script>
 <script type="text/javascript" src="{{STATIC_URL}}js/jquery.placeholder.js"></script>
 <script type="text/javascript" src="{{STATIC_URL}}js/lte-ie7-24.js"></script>
 <script type="text/javascript" src="{{STATIC_URL}}js/html5shiv.js"></script>
 <script type="text/javascript" src="{{STATIC_URL}}js/icon-font-ie7.js"></script>
 <script type="text/javascript" src="{{STATIC_URL}}js/custom_checkbox_and_radio.js"></script>
 <script type="text/javascript" src="{{STATIC_URL}}js/custom_radio.js"></script>
 <script type="text/javascript" src="{{STATIC_URL}}js/application.js"></script>
 <script type="text/javascript" src="{{STATIC_URL}}js/bootstrap-tooltip.js"></script>
 <script type="text/javascript" src="{{STATIC_URL}}js/bootstrap.min.js"></script>
</body>
</html>